/* Center the spinner in the middle of the screen */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;
    width: 100vw; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;/* Optional: Slightly opaque background */
    z-index: 9999; /* Ensure it's above other elements */
  }
  
  /* Loading spinner styles */
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3498db; /* Spinner color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  /* Spinner animation */
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  