@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: "Inter", sans-serif;
}

:root {
  --accentColor: rgb(17, 38, 62,0.8);
}


body {
  background-image: url("background.jpg");
  background-size: cover;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  width: 80vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(0.8em) saturate(180%);
  border-radius: 0.8em;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}
